<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Prompt and Paint!</title>
  </head>
  <body>
    <h1>Prompt and Paint!</h1>
    <div id="ws" hx-ext="ws" ws-connect="/game">
      <div id="game">
        <form ws-send>
          <input type="hidden" id="event" name="event" value="set-username" />
          <label for="username">Enter Username:</label>
          <input type="text" id="username" name="msg" required />
          <button type="submit">Join Game</button>
        </form>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
</html>
